# {{{ Title }}}

{{{ Description }}}

Author:
{{ #Authors }}
- {{{ Author }}}{{ /Authors }}

Maintainer:

- {{{ Maintainer }}}

Source package: {{{ Package }}}

Licence: {{{ License }}}

Version: {{{ Version }}}

## Notebook setup

- Use the '00-{{{ name }}}' notebook to configure your runtime for
  this workspace.

## Vignettes

{{ #Vignettes }}
{{#ipynb}}[ipynb](https://anvil.terra.bio/#workspaces/{{{ namespace }}}/{{{ name }}}/analysis/launch/{{{ ipynb }}}) {{/ipynb}}{{!
}}{{#rmd}}[Rmd](https://anvil.terra.bio/#workspaces/{{{ namespace }}}/{{{ name }}}/analysis/launch/{{{ rmd }}}){{/rmd}} -- {{{ title }}}
{{ #vignette_authors }}
- {{{ name }}} {{#email}}(<a href="mailto:{{{email}}}">{{{email}}}</a>){{/email}} {{ /vignette_authors }}
{{ /Vignettes }}

## Citation

{{{ Citation }}}

R version {{{ RVersion }}}, Bioconductor version {{{ BioconductorVersion }}}

Workspace dashboard created: {{{ ProcessDate }}}

