# {{{ Title }}}

Author:
{{ #Authors }}
- {{{ Author }}}{{ /Authors }}

Maintainer:

- {{{ Maintainer }}}

Source package: {{{ Package }}}

Licence: {{{ License }}}

Version: {{{ Version }}}

## Description

{{{ Description }}}

## Vignettes

{{ #Vignettes }}
[{{{ title }}}](./#workspaces/{{{namespace}}}/{{{name}}}/notebooks/launch/{{{ ipynb }}})
{{ #author }}
- {{{ name }}}
{{ /author }}
{{ /Vignettes }}

## Citation

{{{ Citation }}}

Processed on: {{{ ProcessDate }}}

