# Set up notebooks in '{{{ name }}}'

This notebook installs R / Bioconductor packages on the current
runtime so that other notebooks run without further package
installation requirements.

## Setup

Make sure you have selected the 'R/Bioconductor' runtime from the icon
on the top right of the Workspace, DASHBOARD, or NOTEBOOK page.

Start the runtime if necessary by pressing the 'play' button.

Evaluate the following cell to install necessary packages.

```{r, eval = FALSE}
pkgs <- c({{{NotebookPackages}}})
pkgs <- pkgs[!pkgs %in% rownames(installed.packages())]
BiocManager::install(pkgs)
```

This may take several minutes.

## Vignettes

{{ #Vignettes }}
{{#ipynb}}[ipynb](https://anvil.terra.bio/#workspaces/{{{ namespace }}}/{{{ name }}}/analysis/launch/{{{ ipynb }}}) {{/ipynb}}{{!
}}{{#rmd}}[Rmd](https://anvil.terra.bio/#workspaces/{{{ namespace }}}/{{{ name }}}/analysis/launch/{{{ rmd }}}){{/rmd}} -- {{{ title }}}
{{ #vignette_authors }}
- {{{ name }}} {{#email}}(<a href="mailto:{{{email}}}">{{{email}}}</a>){{/email}} {{ /vignette_authors }}
{{ /Vignettes }}
